In [5]:
import pandas as pd

pd.set_option("display.max_columns", None)

ruta = r"C:\Users\beabr\Downloads\OneDrive\Formaciones\Data Analyst & AI\Proyectos\PROYECTO_FINAL\flight_details.csv"
df_flight_details = pd.read_csv(ruta)

df_flight_details.sample(7)

,FL_DATE,AIRLINE_CODE,FL_NUMBER,ORIGIN,DEST,CRS_DEP_TIME,AIRLINE,AIRLINE_DOT,DOT_CODE,ORIGIN_CITY,DEST_CITY,DEP_TIME,TAXI_OUT,WHEELS_OFF,WHEELS_ON,TAXI_IN,CRS_ARR_TIME,ARR_TIME,CRS_ELAPSED_TIME,ELAPSED_TIME,AIR_TIME,DISTANCE
2675321,2022-01-16,OO,5353,ORD,GSP,1750,SkyWest Airlines Inc.,SkyWest Airlines Inc.: OO,20304,"Chicago, IL","Greer, SC",NaN,NaN,NaN,NaN,NaN,2046,NaN,116.0,NaN,NaN,577.0
40820,2020-11-08,B6,633,BOS,SFO,1701,JetBlue Airways,JetBlue Airways: B6,20409,"Boston, MA","San Francisco, CA",1652.0,14.0,1706.0,1959.0,4.0,2036,2003.0,395.0,371.0,353.0,2704.0
346277,2022-11-28,YX,3474,PIT,EWR,839,Republic Airline,Republic Airline: YX,20452,"Pittsburgh, PA","Newark, NJ",829.0,8.0,837.0,931.0,29.0,1007,1000.0,88.0,91.0,54.0,319.0
2057102,2019-09-29,OO,2993,ORD,LSE,2035,SkyWest Airlines Inc.,SkyWest Airlines Inc.: OO,20304,"Chicago, IL","La Crosse, WI",2045.0,45.0,2130.0,2215.0,3.0,2144,2218.0,69.0,93.0,45.0,215.0
556855,2021-10-24,WN,3822,OAK,SEA,700,Southwest Airlines Co.,Southwest Airlines Co.: WN,19393,"Oakland, CA","Seattle, WA",658.0,15.0,713.0,848.0,9.0,915,857.0,135.0,119.0,95.0,672.0
1035737,2019-01-13,WN,2461,BOI,DEN,750,Southwest Airlines Co.,Southwest Airlines Co.: WN,19393,"Boise, ID","Denver, CO",747.0,8.0,755.0,926.0,6.0,935,932.0,105.0,105.0,91.0,649.0
2120647,2022-06-01,WN,4007,RSW,PIT,925,Southwest Airlines Co.,Southwest Airlines Co.: WN,19393,"Fort Myers, FL","Pittsburgh, PA",919.0,9.0,928.0,1137.0,6.0,1200,1143.0,155.0,144.0,129.0,966.0

In [6]:
df_flight_details.shape

(3000000, 22)

In [7]:
print(f'Nuestro conjunto de datospresenta un conjunto de datos de {df_flight_details.shape[0]} filas y {df_flight_details.shape[1]} columnas')

Nuestro conjunto de datospresenta un conjunto de datos de 3000000 filas y 22 columnas

In [12]:
df_flight_details.info(show_counts=True)

<class 'pandas.DataFrame'>
RangeIndex: 3000000 entries, 0 to 2999999
Data columns (total 22 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   FL_DATE           3000000 non-null  str
 1   AIRLINE_CODE      3000000 non-null  str
 2   FL_NUMBER         3000000 non-null  int64
 3   ORIGIN            3000000 non-null  str
 4   DEST              3000000 non-null  str
 5   CRS_DEP_TIME      3000000 non-null  int64
 6   AIRLINE           3000000 non-null  str
 7   AIRLINE_DOT       3000000 non-null  str
 8   DOT_CODE          3000000 non-null  int64
 9   ORIGIN_CITY       3000000 non-null  str
 10  DEST_CITY         3000000 non-null  str
 11  DEP_TIME          2922385 non-null  float64
 12  TAXI_OUT          2921194 non-null  float64
 13  WHEELS_OFF        2921194 non-null  float64
 14  WHEELS_ON         2920056 non-null  float64
 15  TAXI_IN           2920056 non-null  float64
 16  CRS_ARR_TIME      3000000 non-null  int64
 17  ARR_TIME          2920058 non-null  float64
 18  CRS_ELAPSED_TIME  2999986 non-null  float64
 19  ELAPSED_TIME      2913802 non-null  float64
 20  AIR_TIME          2913802 non-null  float64
 21  DISTANCE          3000000 non-null  float64
dtypes: float64(10), int64(4), str(8)
memory usage: 503.5 MB