In [7]:
import pandas as pd

pd.set_option("display.max_columns", None)

ruta = r"C:\Users\beabr\Downloads\OneDrive\Formaciones\Data Analyst & AI\Proyectos\flight_details.csv"
df_flight_details = pd.read_csv(ruta)

df_flight_details.sample(7)

,FL_DATE,AIRLINE_CODE,FL_NUMBER,ORIGIN,DEST,CRS_DEP_TIME,AIRLINE,AIRLINE_DOT,DOT_CODE,ORIGIN_CITY,DEST_CITY,DEP_TIME,TAXI_OUT,WHEELS_OFF,WHEELS_ON,TAXI_IN,CRS_ARR_TIME,ARR_TIME,CRS_ELAPSED_TIME,ELAPSED_TIME,AIR_TIME,DISTANCE
2781142,2022-08-19,9E,4932,LEX,DTW,1530,Endeavor Air Inc.,Endeavor Air Inc.: 9E,20363,"Lexington, KY","Detroit, MI",1525.0,10.0,1535.0,1628.0,8.0,1648,1636.0,78.0,71.0,53.0,296.0
694068,2022-11-22,9E,4677,CLT,LGA,700,Endeavor Air Inc.,Endeavor Air Inc.: 9E,20363,"Charlotte, NC","New York, NY",709.0,18.0,727.0,841.0,9.0,857,850.0,117.0,101.0,74.0,544.0
2973713,2023-02-01,WN,2367,RNO,LAS,915,Southwest Airlines Co.,Southwest Airlines Co.: WN,19393,"Reno, NV","Las Vegas, NV",915.0,8.0,923.0,1020.0,6.0,1030,1026.0,75.0,71.0,57.0,345.0
2512362,2019-06-07,OO,3077,ORD,GRB,820,SkyWest Airlines Inc.,SkyWest Airlines Inc.: OO,20304,"Chicago, IL","Green Bay, WI",821.0,42.0,903.0,935.0,5.0,929,940.0,69.0,79.0,32.0,174.0
2345155,2019-10-23,OO,5821,MSN,ORD,1306,SkyWest Airlines Inc.,SkyWest Airlines Inc.: OO,20304,"Madison, WI","Chicago, IL",1259.0,10.0,1309.0,1341.0,34.0,1412,1415.0,66.0,76.0,32.0,109.0
1761462,2021-07-13,9E,4789,ATL,ABY,1030,Endeavor Air Inc.,Endeavor Air Inc.: 9E,20363,"Atlanta, GA","Albany, GA",1030.0,13.0,1043.0,1111.0,4.0,1127,1115.0,57.0,45.0,28.0,145.0
2781318,2022-07-29,B6,891,BOS,TPA,710,JetBlue Airways,JetBlue Airways: B6,20409,"Boston, MA","Tampa, FL",708.0,13.0,721.0,958.0,4.0,1024,1002.0,194.0,174.0,157.0,1185.0

In [8]:
df_flight_details.shape

(3000000, 22)

In [9]:
print(f'Nuestro conjunto de datospresenta un conjunto de datos de {df_flight_details.shape[0]} filas y {df_flight_details.shape[1]} columnas')

Nuestro conjunto de datospresenta un conjunto de datos de 3000000 filas y 22 columnas

In [10]:
df_flight_details.info(show_counts=True)

<class 'pandas.DataFrame'>
RangeIndex: 3000000 entries, 0 to 2999999
Data columns (total 22 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   FL_DATE           3000000 non-null  str
 1   AIRLINE_CODE      3000000 non-null  str
 2   FL_NUMBER         3000000 non-null  int64
 3   ORIGIN            3000000 non-null  str
 4   DEST              3000000 non-null  str
 5   CRS_DEP_TIME      3000000 non-null  int64
 6   AIRLINE           3000000 non-null  str
 7   AIRLINE_DOT       3000000 non-null  str
 8   DOT_CODE          3000000 non-null  int64
 9   ORIGIN_CITY       3000000 non-null  str
 10  DEST_CITY         3000000 non-null  str
 11  DEP_TIME          2922385 non-null  float64
 12  TAXI_OUT          2921194 non-null  float64
 13  WHEELS_OFF        2921194 non-null  float64
 14  WHEELS_ON         2920056 non-null  float64
 15  TAXI_IN           2920056 non-null  float64
 16  CRS_ARR_TIME      3000000 non-null  int64
 17  ARR_TIME          2920058 non-null  float64
 18  CRS_ELAPSED_TIME  2999986 non-null  float64
 19  ELAPSED_TIME      2913802 non-null  float64
 20  AIR_TIME          2913802 non-null  float64
 21  DISTANCE          3000000 non-null  float64
dtypes: float64(10), int64(4), str(8)
memory usage: 503.5 MB

In [11]:
df_flight_details.isnull().sum()

FL_DATE                 0
AIRLINE_CODE            0
FL_NUMBER               0
ORIGIN                  0
DEST                    0
CRS_DEP_TIME            0
AIRLINE                 0
AIRLINE_DOT             0
DOT_CODE                0
ORIGIN_CITY             0
DEST_CITY               0
DEP_TIME            77615
TAXI_OUT            78806
WHEELS_OFF          78806
WHEELS_ON           79944
TAXI_IN             79944
CRS_ARR_TIME            0
ARR_TIME            79942
CRS_ELAPSED_TIME       14
ELAPSED_TIME        86198
AIR_TIME            86198
DISTANCE                0
dtype: int64

In [14]:
df_flight_details.isnull().mean()*100

FL_DATE             0.000000
AIRLINE_CODE        0.000000
FL_NUMBER           0.000000
ORIGIN              0.000000
DEST                0.000000
CRS_DEP_TIME        0.000000
AIRLINE             0.000000
AIRLINE_DOT         0.000000
DOT_CODE            0.000000
ORIGIN_CITY         0.000000
DEST_CITY           0.000000
DEP_TIME            2.587167
TAXI_OUT            2.626867
WHEELS_OFF          2.626867
WHEELS_ON           2.664800
TAXI_IN             2.664800
CRS_ARR_TIME        0.000000
ARR_TIME            2.664733
CRS_ELAPSED_TIME    0.000467
ELAPSED_TIME        2.873267
AIR_TIME            2.873267
DISTANCE            0.000000
dtype: float64

In [15]:
df_flight_details.duplicated().sum()

np.int64(0)

In [26]:
for col in df_flight_details.select_dtypes(include='object').columns:
    print(col.upper())
    print(df_flight_details[col].value_counts())
    print ('-------')

C:\Users\beabr\AppData\Local\Temp\ipykernel_14740\1635962819.py:1: Pandas4Warning: For backward compatibility, 'str' dtypes are included by select_dtypes when 'object' dtype is specified. This behavior is deprecated and will be removed in a future version. Explicitly pass 'str' to `include` to select them, or to `exclude` to remove them and silence this warning.
See https://pandas.pydata.org/docs/user_guide/migration-3-strings.html#string-migration-select-dtypes for details on how to write code that works with pandas 2 and 3.
  for col in df_flight_details.select_dtypes(include='object').columns:

FL_DATE
FL_DATE
2019-07-25    2379
2019-08-02    2372
2019-12-01    2351
2019-08-23    2348
2019-07-30    2343
              ...
2020-05-09     527
2020-05-16     525
2020-05-19     523
2020-05-12     523
2020-05-05     521
Name: count, Length: 1704, dtype: int64
-------
AIRLINE_CODE
AIRLINE_CODE
WN    576470
DL    395239
AA    383106
OO    343737
UA    254504
YX    143107
MQ    121256
B6    112844
9E    112463
OH    107050
AS    100467
NK     95711
YV     65012
F9     64466
G4     52738
HA     32114
QX     20634
EV     19082
Name: count, dtype: int64
-------
ORIGIN
ORIGIN
ATL    153556
DFW    130334
ORD    122296
DEN    119919
CLT     94304
        ...
ART        21
OGD        18
ILG        17
FLO         8
IPT         6
Name: count, Length: 380, dtype: int64
-------
DEST
DEST
ATL    153569
DFW    129770
ORD    123334
DEN    119592
CLT     95413
        ...
BFM        24
FLO        17
CDB        17
ILG        13
IPT        11
Name: count, Length: 380, dtype: int64
-------
AIRLINE
AIRLINE
Southwest Airlines Co.                576470
Delta Air Lines Inc.                  395239
American Airlines Inc.                383106
SkyWest Airlines Inc.                 343737
United Air Lines Inc.                 254504
Republic Airline                      143107
Envoy Air                             121256
JetBlue Airways                       112844
Endeavor Air Inc.                     112463
PSA Airlines Inc.                     107050
Alaska Airlines Inc.                  100467
Spirit Air Lines                       95711
Mesa Airlines Inc.                     65012
Frontier Airlines Inc.                 64466
Allegiant Air                          52738
Hawaiian Airlines Inc.                 32114
Horizon Air                            20634
ExpressJet Airlines LLC d/b/a aha!     19082
Name: count, dtype: int64
-------
AIRLINE_DOT
AIRLINE_DOT
Southwest Airlines Co.: WN                576470
Delta Air Lines Inc.: DL                  395239
American Airlines Inc.: AA                383106
SkyWest Airlines Inc.: OO                 343737
United Air Lines Inc.: UA                 254504
Republic Airline: YX                      143107
Envoy Air: MQ                             121256
JetBlue Airways: B6                       112844
Endeavor Air Inc.: 9E                     112463
PSA Airlines Inc.: OH                     107050
Alaska Airlines Inc.: AS                  100467
Spirit Air Lines: NK                       95711
Mesa Airlines Inc.: YV                     65012
Frontier Airlines Inc.: F9                 64466
Allegiant Air: G4                          52738
Hawaiian Airlines Inc.: HA                 32114
Horizon Air: QX                            20634
ExpressJet Airlines LLC d/b/a aha!: EV     19082
Name: count, dtype: int64
-------
ORIGIN_CITY
ORIGIN_CITY
Chicago, IL              157368
Atlanta, GA              153556
Dallas/Fort Worth, TX    130334
Denver, CO               119919
New York, NY             113040
                          ...
Watertown, NY                21
Ogden, UT                    18
Wilmington, DE               17
Florence, SC                  8
Williamsport, PA              6
Name: count, Length: 373, dtype: int64
-------
DEST_CITY
DEST_CITY
Chicago, IL              158087
Atlanta, GA              153569
Dallas/Fort Worth, TX    129770
Denver, CO               119592
New York, NY             112236
                          ...
Watertown, NY                26
Florence, SC                 17
Cold Bay, AK                 17
Wilmington, DE               13
Williamsport, PA             11
Name: count, Length: 373, dtype: int64
-------

In [45]:
def eda_preliminar (df_flight_details):
    display(df_flight_details.sample(5))
    
    print ('------------')
    print('DIMENSIONES')
    print(f'Nuestro conjunto de datos presenta un conjunto de datos de {df_flight_details.shape[0]} filas y {df_flight_details.shape[1]} columnas')

    print ('------------')
    print('INFO')
    display(df_flight_details.info())

    print ('------------')
    print('REVISIÓN NULOS')
    display (df_flight_details.isnull().mean()*100)

    print ('------------')
    print('REVISIÓN DUPLICADOS')
    print (F'Tenemos un total de {df_flight_details.duplicated().sum()} duplicados')

    print ('------------')
    print('FRECUENCAS CATEGÓRICAS')
    for col in df_flight_details.select_dtypes(include='object').columns:
        print(col.upper())
        print(df_flight_details[col].value_counts())
        print ('-------')

In [46]:
eda_preliminar(df_flight_details)

,FL_DATE,AIRLINE_CODE,FL_NUMBER,ORIGIN,DEST,CRS_DEP_TIME,AIRLINE,AIRLINE_DOT,DOT_CODE,ORIGIN_CITY,DEST_CITY,DEP_TIME,TAXI_OUT,WHEELS_OFF,WHEELS_ON,TAXI_IN,CRS_ARR_TIME,ARR_TIME,CRS_ELAPSED_TIME,ELAPSED_TIME,AIR_TIME,DISTANCE
366513,2020-09-05,AA,2673,CLT,BUF,930,American Airlines Inc.,American Airlines Inc.: AA,19805,"Charlotte, NC","Buffalo, NY",924.0,19.0,943.0,1053.0,6.0,1109,1059.0,99.0,95.0,70.0,546.0
1128374,2020-06-22,WN,6904,DEN,FLL,1105,Southwest Airlines Co.,Southwest Airlines Co.: WN,19393,"Denver, CO","Fort Lauderdale, FL",1100.0,6.0,1106.0,1635.0,4.0,1650,1639.0,225.0,219.0,209.0,1703.0
1539592,2022-11-10,F9,680,DEN,MCO,745,Frontier Airlines Inc.,Frontier Airlines Inc.: F9,20436,"Denver, CO","Orlando, FL",NaN,NaN,NaN,NaN,NaN,1323,NaN,218.0,NaN,NaN,1546.0
996525,2021-07-07,OH,5650,CLT,EWN,714,PSA Airlines Inc.,PSA Airlines Inc.: OH,20397,"Charlotte, NC","New Bern/Morehead/Beaufort, NC",705.0,21.0,726.0,812.0,6.0,824,818.0,70.0,73.0,46.0,221.0
2843285,2023-06-13,UA,2189,ORD,BDL,1305,United Air Lines Inc.,United Air Lines Inc.: UA,19977,"Chicago, IL","Hartford, CT",1258.0,18.0,1316.0,1557.0,4.0,1618,1601.0,133.0,123.0,101.0,783.0

------------
DIMENSIONES
Nuestro conjunto de datos presenta un conjunto de datos de 3000000 filas y 22 columnas
------------
INFO
<class 'pandas.DataFrame'>
RangeIndex: 3000000 entries, 0 to 2999999
Data columns (total 22 columns):
 #   Column            Dtype
---  ------            -----
 0   FL_DATE           str
 1   AIRLINE_CODE      str
 2   FL_NUMBER         int64
 3   ORIGIN            str
 4   DEST              str
 5   CRS_DEP_TIME      int64
 6   AIRLINE           str
 7   AIRLINE_DOT       str
 8   DOT_CODE          int64
 9   ORIGIN_CITY       str
 10  DEST_CITY         str
 11  DEP_TIME          float64
 12  TAXI_OUT          float64
 13  WHEELS_OFF        float64
 14  WHEELS_ON         float64
 15  TAXI_IN           float64
 16  CRS_ARR_TIME      int64
 17  ARR_TIME          float64
 18  CRS_ELAPSED_TIME  float64
 19  ELAPSED_TIME      float64
 20  AIR_TIME          float64
 21  DISTANCE          float64
dtypes: float64(10), int64(4), str(8)
memory usage: 503.5 MB

None

------------
REVISIÓN NULOS

FL_DATE             0.000000
AIRLINE_CODE        0.000000
FL_NUMBER           0.000000
ORIGIN              0.000000
DEST                0.000000
CRS_DEP_TIME        0.000000
AIRLINE             0.000000
AIRLINE_DOT         0.000000
DOT_CODE            0.000000
ORIGIN_CITY         0.000000
DEST_CITY           0.000000
DEP_TIME            2.587167
TAXI_OUT            2.626867
WHEELS_OFF          2.626867
WHEELS_ON           2.664800
TAXI_IN             2.664800
CRS_ARR_TIME        0.000000
ARR_TIME            2.664733
CRS_ELAPSED_TIME    0.000467
ELAPSED_TIME        2.873267
AIR_TIME            2.873267
DISTANCE            0.000000
dtype: float64

------------
REVISIÓN DUPLICADOS
Tenemos un total de 0 duplicados
------------
FRECUENCAS CATEGÓRICAS
FL_DATE

C:\Users\beabr\AppData\Local\Temp\ipykernel_14740\4245599921.py:22: Pandas4Warning: For backward compatibility, 'str' dtypes are included by select_dtypes when 'object' dtype is specified. This behavior is deprecated and will be removed in a future version. Explicitly pass 'str' to `include` to select them, or to `exclude` to remove them and silence this warning.
See https://pandas.pydata.org/docs/user_guide/migration-3-strings.html#string-migration-select-dtypes for details on how to write code that works with pandas 2 and 3.
  for col in df_flight_details.select_dtypes(include='object').columns:

FL_DATE
2019-07-25    2379
2019-08-02    2372
2019-12-01    2351
2019-08-23    2348
2019-07-30    2343
              ...
2020-05-09     527
2020-05-16     525
2020-05-19     523
2020-05-12     523
2020-05-05     521
Name: count, Length: 1704, dtype: int64
-------
AIRLINE_CODE
AIRLINE_CODE
WN    576470
DL    395239
AA    383106
OO    343737
UA    254504
YX    143107
MQ    121256
B6    112844
9E    112463
OH    107050
AS    100467
NK     95711
YV     65012
F9     64466
G4     52738
HA     32114
QX     20634
EV     19082
Name: count, dtype: int64
-------
ORIGIN
ORIGIN
ATL    153556
DFW    130334
ORD    122296
DEN    119919
CLT     94304
        ...
ART        21
OGD        18
ILG        17
FLO         8
IPT         6
Name: count, Length: 380, dtype: int64
-------
DEST
DEST
ATL    153569
DFW    129770
ORD    123334
DEN    119592
CLT     95413
        ...
BFM        24
FLO        17
CDB        17
ILG        13
IPT        11
Name: count, Length: 380, dtype: int64
-------
AIRLINE
AIRLINE
Southwest Airlines Co.                576470
Delta Air Lines Inc.                  395239
American Airlines Inc.                383106
SkyWest Airlines Inc.                 343737
United Air Lines Inc.                 254504
Republic Airline                      143107
Envoy Air                             121256
JetBlue Airways                       112844
Endeavor Air Inc.                     112463
PSA Airlines Inc.                     107050
Alaska Airlines Inc.                  100467
Spirit Air Lines                       95711
Mesa Airlines Inc.                     65012
Frontier Airlines Inc.                 64466
Allegiant Air                          52738
Hawaiian Airlines Inc.                 32114
Horizon Air                            20634
ExpressJet Airlines LLC d/b/a aha!     19082
Name: count, dtype: int64
-------
AIRLINE_DOT
AIRLINE_DOT
Southwest Airlines Co.: WN                576470
Delta Air Lines Inc.: DL                  395239
American Airlines Inc.: AA                383106
SkyWest Airlines Inc.: OO                 343737
United Air Lines Inc.: UA                 254504
Republic Airline: YX                      143107
Envoy Air: MQ                             121256
JetBlue Airways: B6                       112844
Endeavor Air Inc.: 9E                     112463
PSA Airlines Inc.: OH                     107050
Alaska Airlines Inc.: AS                  100467
Spirit Air Lines: NK                       95711
Mesa Airlines Inc.: YV                     65012
Frontier Airlines Inc.: F9                 64466
Allegiant Air: G4                          52738
Hawaiian Airlines Inc.: HA                 32114
Horizon Air: QX                            20634
ExpressJet Airlines LLC d/b/a aha!: EV     19082
Name: count, dtype: int64
-------
ORIGIN_CITY
ORIGIN_CITY
Chicago, IL              157368
Atlanta, GA              153556
Dallas/Fort Worth, TX    130334
Denver, CO               119919
New York, NY             113040
                          ...
Watertown, NY                21
Ogden, UT                    18
Wilmington, DE               17
Florence, SC                  8
Williamsport, PA              6
Name: count, Length: 373, dtype: int64
-------
DEST_CITY
DEST_CITY
Chicago, IL              158087
Atlanta, GA              153569
Dallas/Fort Worth, TX    129770
Denver, CO               119592
New York, NY             112236
                          ...
Watertown, NY                26
Florence, SC                 17
Cold Bay, AK                 17
Wilmington, DE               13
Williamsport, PA             11
Name: count, Length: 373, dtype: int64
-------

In [57]:
import pandas as pd
from src import sp_eda

pd.set_option("display.max_columns", None)

ruta = r"C:\Users\beabr\Downloads\OneDrive\Formaciones\Data Analyst & AI\Proyectos\flight_details.csv"
df_flight_details = pd.read_csv(ruta)

sp_eda.eda_preliminar(df_flight_details)

,FL_DATE,AIRLINE_CODE,FL_NUMBER,ORIGIN,DEST,CRS_DEP_TIME,AIRLINE,AIRLINE_DOT,DOT_CODE,ORIGIN_CITY,DEST_CITY,DEP_TIME,TAXI_OUT,WHEELS_OFF,WHEELS_ON,TAXI_IN,CRS_ARR_TIME,ARR_TIME,CRS_ELAPSED_TIME,ELAPSED_TIME,AIR_TIME,DISTANCE
2443198,2021-06-03,WN,466,SMF,LAX,1250,Southwest Airlines Co.,Southwest Airlines Co.: WN,19393,"Sacramento, CA","Los Angeles, CA",1252.0,14.0,1306.0,1406.0,8.0,1420,1414.0,90.0,82.0,60.0,373.0
1660227,2019-08-03,OO,3733,MSP,IDA,1115,SkyWest Airlines Inc.,SkyWest Airlines Inc.: OO,20304,"Minneapolis, MN","Idaho Falls, ID",1111.0,13.0,1124.0,1236.0,6.0,1304,1242.0,169.0,151.0,132.0,939.0
2668808,2023-06-21,UA,1409,IAH,EWR,2008,United Air Lines Inc.,United Air Lines Inc.: UA,19977,"Houston, TX","Newark, NJ",2014.0,104.0,2158.0,147.0,9.0,45,156.0,217.0,282.0,169.0,1400.0
1575405,2019-12-29,YX,3494,IAH,CMH,1437,Republic Airline,Republic Airline: YX,20452,"Houston, TX","Columbus, OH",1434.0,18.0,1452.0,1739.0,12.0,1814,1751.0,157.0,137.0,107.0,986.0
239447,2022-09-18,OH,5146,DTW,PHL,809,PSA Airlines Inc.,PSA Airlines Inc.: OH,20397,"Detroit, MI","Philadelphia, PA",759.0,13.0,812.0,923.0,9.0,950,932.0,101.0,93.0,71.0,453.0

------------
DIMENSIONES
Nuestro conjunto de datos presenta un conjunto de datos de 3000000 filas y 22 columnas
------------
INFO
<class 'pandas.DataFrame'>
RangeIndex: 3000000 entries, 0 to 2999999
Data columns (total 22 columns):
 #   Column            Dtype
---  ------            -----
 0   FL_DATE           str
 1   AIRLINE_CODE      str
 2   FL_NUMBER         int64
 3   ORIGIN            str
 4   DEST              str
 5   CRS_DEP_TIME      int64
 6   AIRLINE           str
 7   AIRLINE_DOT       str
 8   DOT_CODE          int64
 9   ORIGIN_CITY       str
 10  DEST_CITY         str
 11  DEP_TIME          float64
 12  TAXI_OUT          float64
 13  WHEELS_OFF        float64
 14  WHEELS_ON         float64
 15  TAXI_IN           float64
 16  CRS_ARR_TIME      int64
 17  ARR_TIME          float64
 18  CRS_ELAPSED_TIME  float64
 19  ELAPSED_TIME      float64
 20  AIR_TIME          float64
 21  DISTANCE          float64
dtypes: float64(10), int64(4), str(8)
memory usage: 503.5 MB

None

------------
REVISIÓN NULOS

FL_DATE             0.000000
AIRLINE_CODE        0.000000
FL_NUMBER           0.000000
ORIGIN              0.000000
DEST                0.000000
CRS_DEP_TIME        0.000000
AIRLINE             0.000000
AIRLINE_DOT         0.000000
DOT_CODE            0.000000
ORIGIN_CITY         0.000000
DEST_CITY           0.000000
DEP_TIME            2.587167
TAXI_OUT            2.626867
WHEELS_OFF          2.626867
WHEELS_ON           2.664800
TAXI_IN             2.664800
CRS_ARR_TIME        0.000000
ARR_TIME            2.664733
CRS_ELAPSED_TIME    0.000467
ELAPSED_TIME        2.873267
AIR_TIME            2.873267
DISTANCE            0.000000
dtype: float64

------------
REVISIÓN DUPLICADOS
Tenemos un total de 0 duplicados
------------
FRECUENCAS CATEGÓRICAS
FL_DATE
FL_DATE
2019-07-25    2379
2019-08-02    2372
2019-12-01    2351
2019-08-23    2348
2019-07-30    2343
              ...
2020-05-09     527
2020-05-16     525
2020-05-19     523
2020-05-12     523
2020-05-05     521
Name: count, Length: 1704, dtype: int64
-------
AIRLINE_CODE
AIRLINE_CODE
WN    576470
DL    395239
AA    383106
OO    343737
UA    254504
YX    143107
MQ    121256
B6    112844
9E    112463
OH    107050
AS    100467
NK     95711
YV     65012
F9     64466
G4     52738
HA     32114
QX     20634
EV     19082
Name: count, dtype: int64
-------
ORIGIN
ORIGIN
ATL    153556
DFW    130334
ORD    122296
DEN    119919
CLT     94304
        ...
ART        21
OGD        18
ILG        17
FLO         8
IPT         6
Name: count, Length: 380, dtype: int64
-------
DEST
DEST
ATL    153569
DFW    129770
ORD    123334
DEN    119592
CLT     95413
        ...
BFM        24
FLO        17
CDB        17
ILG        13
IPT        11
Name: count, Length: 380, dtype: int64
-------
AIRLINE
AIRLINE
Southwest Airlines Co.                576470
Delta Air Lines Inc.                  395239
American Airlines Inc.                383106
SkyWest Airlines Inc.                 343737
United Air Lines Inc.                 254504
Republic Airline                      143107
Envoy Air                             121256
JetBlue Airways                       112844
Endeavor Air Inc.                     112463
PSA Airlines Inc.                     107050
Alaska Airlines Inc.                  100467
Spirit Air Lines                       95711
Mesa Airlines Inc.                     65012
Frontier Airlines Inc.                 64466
Allegiant Air                          52738
Hawaiian Airlines Inc.                 32114
Horizon Air                            20634
ExpressJet Airlines LLC d/b/a aha!     19082
Name: count, dtype: int64
-------
AIRLINE_DOT
AIRLINE_DOT
Southwest Airlines Co.: WN                576470
Delta Air Lines Inc.: DL                  395239
American Airlines Inc.: AA                383106
SkyWest Airlines Inc.: OO                 343737
United Air Lines Inc.: UA                 254504
Republic Airline: YX                      143107
Envoy Air: MQ                             121256
JetBlue Airways: B6                       112844
Endeavor Air Inc.: 9E                     112463
PSA Airlines Inc.: OH                     107050
Alaska Airlines Inc.: AS                  100467
Spirit Air Lines: NK                       95711
Mesa Airlines Inc.: YV                     65012
Frontier Airlines Inc.: F9                 64466
Allegiant Air: G4                          52738
Hawaiian Airlines Inc.: HA                 32114
Horizon Air: QX                            20634
ExpressJet Airlines LLC d/b/a aha!: EV     19082
Name: count, dtype: int64
-------
ORIGIN_CITY
ORIGIN_CITY
Chicago, IL              157368
Atlanta, GA              153556
Dallas/Fort Worth, TX    130334
Denver, CO               119919
New York, NY             113040
                          ...
Watertown, NY                21
Ogden, UT                    18
Wilmington, DE               17
Florence, SC                  8
Williamsport, PA              6
Name: count, Length: 373, dtype: int64
-------
DEST_CITY
DEST_CITY
Chicago, IL              158087
Atlanta, GA              153569
Dallas/Fort Worth, TX    129770
Denver, CO               119592
New York, NY             112236
                          ...
Watertown, NY                26
Florence, SC                 17
Cold Bay, AK                 17
Wilmington, DE               13
Williamsport, PA             11
Name: count, Length: 373, dtype: int64
-------

In [2]:
df_flight_details["ORIGIN"].unique()

NameError: name 'df_flight_details' is not defined