In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.set_option('display.max_columns', None)

ruta = r"C:\Users\beabr\Downloads\OneDrive\Formaciones\Data Analyst & AI\Proyectos\PROYECTO_FINAL\flight_details_atl.csv"
df = pd.read_csv(ruta)

df.sample(7)

,FL_DATE,AIRLINE_CODE,FL_NUMBER,ORIGIN,DEST,CRS_DEP_TIME,AIRLINE,AIRLINE_DOT,DOT_CODE,ORIGIN_CITY,DEST_CITY,DEP_TIME,TAXI_OUT,WHEELS_OFF,WHEELS_ON,TAXI_IN,CRS_ARR_TIME,ARR_TIME,CRS_ELAPSED_TIME,ELAPSED_TIME,AIR_TIME,DISTANCE
89969,2022-11-03,DL,2435,ATL,ORD,1010,Delta Air Lines Inc.,Delta Air Lines Inc.: DL,19790,"Atlanta, GA","Chicago, IL",1006.0,19.0,1025.0,1057.0,9.0,1111,1106.0,121.0,120.0,92.0,606.0
2439,2020-03-03,DL,1900,ATL,JFK,1340,Delta Air Lines Inc.,Delta Air Lines Inc.: DL,19790,"Atlanta, GA","New York, NY",1336.0,10.0,1346.0,1525.0,6.0,1552,1531.0,132.0,115.0,99.0,760.0
8635,2021-12-26,DL,694,ATL,SNA,1959,Delta Air Lines Inc.,Delta Air Lines Inc.: DL,19790,"Atlanta, GA","Santa Ana, CA",2040.0,16.0,2056.0,2228.0,5.0,2150,2233.0,291.0,293.0,272.0,1919.0
123492,2020-03-08,DL,1234,ATL,CHS,813,Delta Air Lines Inc.,Delta Air Lines Inc.: DL,19790,"Atlanta, GA","Charleston, SC",809.0,14.0,823.0,905.0,13.0,926,918.0,73.0,69.0,42.0,259.0
11992,2022-09-20,OO,4522,ATL,OAJ,1005,SkyWest Airlines Inc.,SkyWest Airlines Inc.: OO,20304,"Atlanta, GA","Jacksonville/Camp Lejeune, NC",1002.0,33.0,1035.0,1139.0,4.0,1130,1143.0,85.0,101.0,64.0,399.0
33908,2023-06-18,DL,1742,ATL,MCO,1620,Delta Air Lines Inc.,Delta Air Lines Inc.: DL,19790,"Atlanta, GA","Orlando, FL",1620.0,14.0,1634.0,1740.0,10.0,1759,1750.0,99.0,90.0,66.0,404.0
124010,2020-08-09,DL,2683,ATL,CLT,1738,Delta Air Lines Inc.,Delta Air Lines Inc.: DL,19790,"Atlanta, GA","Charlotte, NC",1737.0,12.0,1749.0,1837.0,10.0,1850,1847.0,72.0,70.0,48.0,226.0

In [3]:
df.dtypes

FL_DATE                 str
AIRLINE_CODE            str
FL_NUMBER             int64
ORIGIN                  str
DEST                    str
CRS_DEP_TIME          int64
AIRLINE                 str
AIRLINE_DOT             str
DOT_CODE              int64
ORIGIN_CITY             str
DEST_CITY               str
DEP_TIME            float64
TAXI_OUT            float64
WHEELS_OFF          float64
WHEELS_ON           float64
TAXI_IN             float64
CRS_ARR_TIME          int64
ARR_TIME            float64
CRS_ELAPSED_TIME    float64
ELAPSED_TIME        float64
AIR_TIME            float64
DISTANCE            float64
dtype: object

**Los cambios que vamos a realizar son:**

- FL_DATE: str --> datetime64[us]
- CRS_DEP_TIME: int64 --> str
- DEP_TIME: float64 --> str
- WHEELS_OFF: float64 --> str
- WHEELS_ON: float64 --> str
- CRS_ARR_TIME: int64 --> str
- ARR_TIME: float64 --> str
- CRS_ELAPSED_TIME: float64 --> Int64
- ELAPSED_TIME: float64 --> Int64
- AIR_TIME: float64 --> Int64

In [4]:
# Lo primero convertimos la columna de FL_DATE a tipo fecha

df["FL_DATE"] = pd.to_datetime(df["FL_DATE"], errors="coerce")

In [5]:
# Ahora convertimos las columnas que muestran horas en formato amigable, en principio no vamos a hacer operaciones con ellas, por lo que las mantenemos en formato "str" 

cols_hora = ["CRS_DEP_TIME", "DEP_TIME", "WHEELS_OFF", "WHEELS_ON", "CRS_ARR_TIME", "ARR_TIME"]

for col in cols_hora:
    s = pd.to_numeric(df[col], errors="coerce")
    s = s.apply(lambda x: f"{int(x):04d}" if pd.notna(x) else None)
    df[col] = pd.to_datetime(s, format="%H%M", errors="coerce").dt.strftime("%H:%M")

In [6]:
# Por ultimo transformamos las columnas que muestran una duraci√≥n en minutos a Int64

cols_minutos = [
    "TAXI_OUT",
    "TAXI_IN",
    "CRS_ELAPSED_TIME",
    "ELAPSED_TIME",
    "AIR_TIME"
]

for col in cols_minutos:
    df[col] = pd.to_numeric(df[col], errors="coerce").round().astype("Int64")

In [7]:
df.dtypes

FL_DATE             datetime64[us]
AIRLINE_CODE                   str
FL_NUMBER                    int64
ORIGIN                         str
DEST                           str
CRS_DEP_TIME                   str
AIRLINE                        str
AIRLINE_DOT                    str
DOT_CODE                     int64
ORIGIN_CITY                    str
DEST_CITY                      str
DEP_TIME                       str
TAXI_OUT                     Int64
WHEELS_OFF                     str
WHEELS_ON                      str
TAXI_IN                      Int64
CRS_ARR_TIME                   str
ARR_TIME                       str
CRS_ELAPSED_TIME             Int64
ELAPSED_TIME                 Int64
AIR_TIME                     Int64
DISTANCE                   float64
dtype: object

In [8]:
df.isna().sum()

FL_DATE                0
AIRLINE_CODE           0
FL_NUMBER              0
ORIGIN                 0
DEST                   0
CRS_DEP_TIME           0
AIRLINE                0
AIRLINE_DOT            0
DOT_CODE               0
ORIGIN_CITY            0
DEST_CITY              0
DEP_TIME            2457
TAXI_OUT            2456
WHEELS_OFF          2493
WHEELS_ON           2574
TAXI_IN             2485
CRS_ARR_TIME           0
ARR_TIME            2607
CRS_ELAPSED_TIME       0
ELAPSED_TIME        2807
AIR_TIME            2807
DISTANCE               0
dtype: int64