In [3]:
import sys
sys.path.append("src")

from sp_eda import eda_preliminar

In [4]:
import pandas as pd

In [6]:
ruta = r"C:\Users\beabr\Downloads\OneDrive\Formaciones\Data Analyst & AI\Proyectos\flight_delays.csv"
df = pd.read_csv(ruta)

eda_preliminar(df)

df_clean = df.copy()

,FL_DATE,AIRLINE_CODE,FL_NUMBER,ORIGIN,CRS_DEP_TIME,DEP_DELAY,ARR_DELAY,CANCELLED,CANCELLATION_CODE,DIVERTED,DELAY_DUE_CARRIER,DELAY_DUE_WEATHER,DELAY_DUE_NAS,DELAY_DUE_SECURITY,DELAY_DUE_LATE_AIRCRAFT
604139,2020-03-06,9E,5034,MCI,1110,-4.0,-12.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN
1783411,2019-10-23,YV,6106,IAH,1835,-5.0,-23.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN
2876544,2021-09-16,9E,5082,DTW,2127,-5.0,-8.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN
111937,2022-08-24,OH,5063,LIT,1054,-4.0,-7.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN
954868,2020-03-01,UA,258,SFO,830,-6.0,0.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN

------------
DIMENSIONES
Nuestro conjunto de datos presenta un conjunto de datos de 2922356 filas y 15 columnas
------------
INFO
<class 'pandas.DataFrame'>
RangeIndex: 2922356 entries, 0 to 2922355
Data columns (total 15 columns):
 #   Column                   Dtype
---  ------                   -----
 0   FL_DATE                  str
 1   AIRLINE_CODE             str
 2   FL_NUMBER                int64
 3   ORIGIN                   str
 4   CRS_DEP_TIME             int64
 5   DEP_DELAY                float64
 6   ARR_DELAY                float64
 7   CANCELLED                float64
 8   CANCELLATION_CODE        str
 9   DIVERTED                 float64
 10  DELAY_DUE_CARRIER        float64
 11  DELAY_DUE_WEATHER        float64
 12  DELAY_DUE_NAS            float64
 13  DELAY_DUE_SECURITY       float64
 14  DELAY_DUE_LATE_AIRCRAFT  float64
dtypes: float64(9), int64(2), str(4)
memory usage: 334.4 MB

None

------------
REVISIÓN NULOS

FL_DATE                     0.000000
AIRLINE_CODE                0.000000
FL_NUMBER                   0.000000
ORIGIN                      0.000000
CRS_DEP_TIME                0.000000
DEP_DELAY                   0.000000
ARR_DELAY                   0.292709
CANCELLED                   0.000000
CANCELLATION_CODE          99.948808
DIVERTED                    0.000000
DELAY_DUE_CARRIER          81.731760
DELAY_DUE_WEATHER          81.731760
DELAY_DUE_NAS              81.731760
DELAY_DUE_SECURITY         81.731760
DELAY_DUE_LATE_AIRCRAFT    81.731760
dtype: float64

------------
REVISIÓN DUPLICADOS
Tenemos un total de 0 duplicados
------------
FRECUENCAS CATEGÓRICAS
FL_DATE
FL_DATE
2019-07-25    2368
2019-08-02    2333
2019-08-23    2330
2019-07-16    2316
2019-07-30    2315
              ...
2020-05-05     491
2020-04-18     491
2020-05-02     487
2020-04-22     482
2020-04-25     457
Name: count, Length: 1704, dtype: int64
-------
AIRLINE_CODE
AIRLINE_CODE
WN    557105
DL    389339
AA    372441
OO    336153
UA    249083
YX    138611
MQ    117758
9E    110140
B6    109882
OH    103854
AS     98616
NK     93433
F9     62846
YV     62686
G4     50367
HA     31730
QX     20284
EV     18028
Name: count, dtype: int64
-------
ORIGIN
ORIGIN
ATL    151117
DFW    126254
ORD    118601
DEN    116726
CLT     92023
        ...
ART        18
ILG        16
OGD        15
FLO         8
IPT         6
Name: count, Length: 380, dtype: int64
-------
CANCELLATION_CODE
CANCELLATION_CODE
B    756
A    482
C    250
D      8
Name: count, dtype: int64
-------

In [14]:
df.sample(7)

,FL_DATE,AIRLINE_CODE,FL_NUMBER,ORIGIN,CRS_DEP_TIME,DEP_DELAY,ARR_DELAY,CANCELLED,CANCELLATION_CODE,DIVERTED,DELAY_DUE_CARRIER,DELAY_DUE_WEATHER,DELAY_DUE_NAS,DELAY_DUE_SECURITY,DELAY_DUE_LATE_AIRCRAFT
602803,2019-11-14,UA,343,PBI,1650,-6.0,-10.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN
2794071,2021-11-28,G4,819,DSM,700,-2.0,-24.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN
2502215,2021-07-12,F9,2982,MIA,2120,248.0,242.0,0.0,NaN,0.0,28.0,0.0,0.0,0.0,214.0
1066092,2019-09-22,OO,3379,SMF,1710,-7.0,-14.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN
2158716,2022-07-04,OH,5022,CLE,1945,-11.0,-25.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN
1006525,2023-03-26,B6,125,JFK,1300,105.0,110.0,0.0,NaN,0.0,0.0,0.0,110.0,0.0,0.0
1425403,2023-07-07,DL,2805,EWR,620,-6.0,-26.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN

In [21]:
# En la limpieza de la base de datos anterior, vimos que era demasiado grande por lo que nos quedamos solo con ATL. 
# Hacemos lo mismo con esta antes de empezar a hacer nada más, para poder trabajar con una base de datos manejable

df_clean = df_clean[df_clean["ORIGIN"] == "ATL"].copy()

In [23]:
ruta_salida = r"C:\Users\beabr\Downloads\OneDrive\Formaciones\Data Analyst & AI\Proyectos\PROYECTO_FINAL\flight_delays_atl.csv"

df_clean.to_csv(ruta_salida, index=False)