In [1]:
import sys
sys.path.append("src")

from sp_eda import eda_preliminar

In [2]:
import pandas as pd

In [4]:
ruta = r"C:\Users\beabr\Downloads\OneDrive\Formaciones\Data Analyst & AI\Proyectos\PROYECTO_FINAL\flight_delays_atl.csv"

df = pd.read_csv(ruta)
eda_preliminar(df)

df_clean = df.copy()

,FL_DATE,AIRLINE_CODE,FL_NUMBER,ORIGIN,CRS_DEP_TIME,DEP_DELAY,ARR_DELAY,CANCELLED,CANCELLATION_CODE,DIVERTED,DELAY_DUE_CARRIER,DELAY_DUE_WEATHER,DELAY_DUE_NAS,DELAY_DUE_SECURITY,DELAY_DUE_LATE_AIRCRAFT
108480,2021-12-12,9E,4864,ATL,1925,-3.0,-3.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN
130126,2020-09-11,DL,865,ATL,1033,220.0,213.0,0.0,NaN,0.0,213.0,0.0,0.0,0.0,0.0
132342,2020-04-27,WN,2223,ATL,1045,-5.0,-28.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN
48581,2023-07-31,DL,1577,ATL,1354,10.0,6.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN
50391,2019-05-14,9E,3288,ATL,2134,-3.0,-11.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN

------------
DIMENSIONES
Nuestro conjunto de datos presenta un conjunto de datos de 151117 filas y 15 columnas
------------
INFO
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 151117 entries, 0 to 151116
Data columns (total 15 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   FL_DATE                  151117 non-null  object
 1   AIRLINE_CODE             151117 non-null  object
 2   FL_NUMBER                151117 non-null  int64
 3   ORIGIN                   151117 non-null  object
 4   CRS_DEP_TIME             151117 non-null  int64
 5   DEP_DELAY                151117 non-null  float64
 6   ARR_DELAY                150749 non-null  float64
 7   CANCELLED                151117 non-null  float64
 8   CANCELLATION_CODE        22 non-null      object
 9   DIVERTED                 151117 non-null  float64
 10  DELAY_DUE_CARRIER        23844 non-null   float64
 11  DELAY_DUE_WEATHER        23844 non-null   float64
 12  DELAY_DUE_NAS            23844 non-null   float64
 13  DELAY_DUE_SECURITY       23844 non-null   float64
 14  DELAY_DUE_LATE_AIRCRAFT  23844 non-null   float64
dtypes: float64(9), int64(2), object(4)
memory usage: 17.3+ MB

None

------------
REVISIÓN NULOS

FL_DATE                     0.000000
AIRLINE_CODE                0.000000
FL_NUMBER                   0.000000
ORIGIN                      0.000000
CRS_DEP_TIME                0.000000
DEP_DELAY                   0.000000
ARR_DELAY                   0.243520
CANCELLED                   0.000000
CANCELLATION_CODE          99.985442
DIVERTED                    0.000000
DELAY_DUE_CARRIER          84.221497
DELAY_DUE_WEATHER          84.221497
DELAY_DUE_NAS              84.221497
DELAY_DUE_SECURITY         84.221497
DELAY_DUE_LATE_AIRCRAFT    84.221497
dtype: float64

------------
REVISIÓN DUPLICADOS
Tenemos un total de 0 duplicados
------------
FRECUENCAS CATEGÓRICAS
FL_DATE
FL_DATE
2019-08-06    150
2019-07-12    144
2019-07-30    142
2019-05-16    140
2019-07-15    140
             ...
2020-05-18     20
2020-05-16     19
2020-05-30     17
2020-04-27     17
2020-05-09     15
Name: count, Length: 1704, dtype: int64
-------
AIRLINE_CODE
AIRLINE_CODE
DL    94211
9E    18100
WN    15236
OO     4941
NK     4330
AA     3847
YX     3080
F9     2524
UA     1762
B6     1207
YV      617
OH      568
AS      345
MQ      274
EV       75
Name: count, dtype: int64
-------
ORIGIN
ORIGIN
ATL    151117
Name: count, dtype: int64
-------
CANCELLATION_CODE
CANCELLATION_CODE
B    10
A     9
C     2
D     1
Name: count, dtype: int64
-------

**Los cambios que vamos a realizar son:**

- FL_DATE: str --> datetime64[us]
- CRS_DEP_TIME: int64 --> HH:MM (STRING)
- CANCELLED: float64 --> 0/1 (int)
- DIVERTED: float64 --> 0/1 (int)

In [5]:
df_clean["FL_DATE"] = pd.to_datetime(df_clean["FL_DATE"], errors="coerce")

In [6]:
s = df_clean["CRS_DEP_TIME"].astype("Int64").astype(str).str.zfill(4)
df_clean["CRS_DEP_TIME"] = s.str[:2] + ":" + s.str[2:]

In [7]:
df_clean["CANCELLED"] = df_clean["CANCELLED"].fillna(0).astype(int)
df_clean["DIVERTED"]  = df_clean["DIVERTED"].fillna(0).astype(int)

In [8]:
df_clean[["FL_DATE", "CRS_DEP_TIME", "CANCELLED", "DIVERTED"]].dtypes

FL_DATE         datetime64[ns]
CRS_DEP_TIME            object
CANCELLED                int64
DIVERTED                 int64
dtype: object

In [14]:
print("-------------")
print("VALUE COUNTS (incluyendo NaN)")
print(df_clean["CANCELLATION_CODE"].value_counts(dropna=False))

print("-------------")
print("VALUE COUNTS (solo no nulos)")
print(df_clean["CANCELLATION_CODE"].value_counts())

print("-------------")
print("EJEMPLOS DE FILAS CON CANCELLATION_CODE")
display(
    df_clean[df_clean["CANCELLATION_CODE"].notna()][
        ["FL_DATE", "AIRLINE_CODE", "ORIGIN", "CANCELLATION_CODE"]
    ]
)

-------------
VALUE COUNTS (incluyendo NaN)
CANCELLATION_CODE
NaN    151095
B          10
A           9
C           2
D           1
Name: count, dtype: int64
-------------
VALUE COUNTS (solo no nulos)
CANCELLATION_CODE
B    10
A     9
C     2
D     1
Name: count, dtype: int64
-------------
EJEMPLOS DE FILAS CON CANCELLATION_CODE

          FL_DATE AIRLINE_CODE ORIGIN CANCELLATION_CODE
19165  2023-03-16           OO    ATL                 B
20581  2022-08-04           DL    ATL                 A
24917  2019-07-02           YX    ATL                 C
30969  2020-03-18           9E    ATL                 B
51725  2023-06-25           DL    ATL                 A
67262  2021-06-10           YX    ATL                 C
68590  2019-08-31           AA    ATL                 A
81957  2022-06-02           DL    ATL                 A
86297  2021-04-11           DL    ATL                 B
91140  2020-04-13           WN    ATL                 B
93573  2023-07-21           DL    ATL                 A
106987 2021-07-02           YX    ATL                 B
107254 2023-06-08           F9    ATL                 A
121015 2023-06-23           DL    ATL                 A
125704 2023-01-22           9E    ATL                 B
127642 2023-07-16           DL    ATL                 A
131752 2020-03-23           DL    ATL                 A
133462 2019-07-31           UA    ATL                 B
140820 2019-02-22           DL    ATL                 B
141207 2022-05-29           NK    ATL                 B
144385 2020-03-28           DL    ATL                 D
149397 2021-12-07           DL    ATL                 B