In [2]:
import pandas as pd

In [3]:
details = pd.read_csv("flight_details_atl.csv")
delays = pd.read_csv("flight_delays_atl.csv")

In [4]:
print("DETAILS:")
print(details.columns)

print("\nDELAYS:")
print(delays.columns)

DETAILS:
Index(['FL_DATE', 'AIRLINE_CODE', 'FL_NUMBER', 'ORIGIN', 'DEST',
       'CRS_DEP_TIME', 'AIRLINE', 'AIRLINE_DOT', 'DOT_CODE', 'ORIGIN_CITY',
       'DEST_CITY', 'DEP_TIME', 'TAXI_OUT', 'WHEELS_OFF', 'WHEELS_ON',
       'TAXI_IN', 'CRS_ARR_TIME', 'ARR_TIME', 'CRS_ELAPSED_TIME',
       'ELAPSED_TIME', 'AIR_TIME', 'DISTANCE'],
      dtype='object')

DELAYS:
Index(['FL_DATE', 'AIRLINE_CODE', 'FL_NUMBER', 'ORIGIN', 'CRS_DEP_TIME',
       'DEP_DELAY', 'ARR_DELAY', 'CANCELLED', 'CANCELLATION_CODE', 'DIVERTED',
       'DELAY_DUE_CARRIER', 'DELAY_DUE_WEATHER', 'DELAY_DUE_NAS',
       'DELAY_DUE_SECURITY', 'DELAY_DUE_LATE_AIRCRAFT'],
      dtype='object')

In [5]:
common_cols = details.columns.intersection(delays.columns)
common_cols

Index(['FL_DATE', 'AIRLINE_CODE', 'FL_NUMBER', 'ORIGIN', 'CRS_DEP_TIME'], dtype='object')

In [6]:
df_final = pd.merge(
    details,
    delays,
    on=["FL_DATE", "AIRLINE_CODE", "FL_NUMBER", "ORIGIN", "CRS_DEP_TIME"],
    how="left"
)

In [7]:
details.shape, delays.shape, df_final.shape

((153556, 22), (151117, 15), (153556, 32))

### Interpretación de la unión de datos

Al realizar la unión se conservan los **153.556 registros** del dataset de detalles de vuelos. 
Se añadieron las columnas correspondientes a la información de retrasos.

Existen **2.439 vuelos** que no tienen correspondencia en el dataset de retrasos, por lo que las variables asociadas a retrasos presentan valores nulos (`NaN`), lo cual es un resultado esperado.

In [8]:
df_final.to_csv("flights_final_atl.csv", index=False)