In [51]:
import pandas as pd
import numpy as np

pd.set_option("display.max_columns", None)

In [52]:
ruta = r"C:\Users\beabr\Downloads\OneDrive\Formaciones\Data Analyst & AI\Proyectos\PROYECTO_FINAL\flights_final_atl.csv"

df_final = pd.read_csv(ruta)

df_final.sample(7, random_state=42)

C:\Users\beabr\AppData\Local\Temp\ipykernel_21144\2186409192.py:3: DtypeWarning: Columns (25) have mixed types. Specify dtype option on import or set low_memory=False.
  df_final = pd.read_csv(ruta)

,FL_DATE,AIRLINE_CODE,FL_NUMBER,ORIGIN,DEST,CRS_DEP_TIME,AIRLINE,AIRLINE_DOT,DOT_CODE,ORIGIN_CITY,DEST_CITY,DEP_TIME,TAXI_OUT,WHEELS_OFF,WHEELS_ON,TAXI_IN,CRS_ARR_TIME,ARR_TIME,CRS_ELAPSED_TIME,ELAPSED_TIME,AIR_TIME,DISTANCE,DEP_DELAY,ARR_DELAY,CANCELLED,CANCELLATION_CODE,DIVERTED,DELAY_DUE_CARRIER,DELAY_DUE_WEATHER,DELAY_DUE_NAS,DELAY_DUE_SECURITY,DELAY_DUE_LATE_AIRCRAFT
11328,2019-05-13,UA,241,ATL,ORD,1055,United Air Lines Inc.,United Air Lines Inc.: UA,19977,"Atlanta, GA","Chicago, IL",1126.0,11.0,1137.0,1212.0,7.0,1205,1219.0,130.0,113.0,95.0,606.0,31.0,14.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN
14304,2022-02-05,DL,422,ATL,BOS,1545,Delta Air Lines Inc.,Delta Air Lines Inc.: DL,19790,"Atlanta, GA","Boston, MA",1545.0,12.0,1557.0,1755.0,8.0,1815,1803.0,150.0,138.0,118.0,946.0,0.0,-12.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN
90515,2020-09-30,DL,890,ATL,JFK,1215,Delta Air Lines Inc.,Delta Air Lines Inc.: DL,19790,"Atlanta, GA","New York, NY",1213.0,16.0,1229.0,1410.0,6.0,1433,1416.0,138.0,123.0,101.0,760.0,-2.0,-17.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN
52083,2021-01-09,AA,1567,ATL,DFW,800,American Airlines Inc.,American Airlines Inc.: AA,19805,"Atlanta, GA","Dallas/Fort Worth, TX",826.0,15.0,841.0,936.0,7.0,939,943.0,159.0,137.0,115.0,731.0,26.0,4.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN
55092,2023-07-31,DL,1573,ATL,MSP,1554,Delta Air Lines Inc.,Delta Air Lines Inc.: DL,19790,"Atlanta, GA","Minneapolis, MN",1554.0,17.0,1611.0,1723.0,5.0,1734,1728.0,160.0,154.0,132.0,907.0,0.0,-6.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN
32038,2021-07-09,DL,1489,ATL,RSW,1831,Delta Air Lines Inc.,Delta Air Lines Inc.: DL,19790,"Atlanta, GA","Fort Myers, FL",1830.0,15.0,1845.0,2001.0,3.0,2015,2004.0,104.0,94.0,76.0,515.0,-1.0,-11.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN
102887,2022-11-01,9E,4972,ATL,GTR,1115,Endeavor Air Inc.,Endeavor Air Inc.: 9E,20363,"Atlanta, GA","Columbus, MS",1105.0,13.0,1118.0,1107.0,5.0,1125,1112.0,70.0,67.0,49.0,241.0,-10.0,-13.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN

In [53]:
# 1) Borrar columnas que no os aportan información relevante, o cuya información ya tenemos en otras columnas
cols_a_borrar = ["Unnamed: 0", "AIRLINE_DOT", "DOT_CODE", "ORIGIN_CITY"]
df_final = df_final.drop(columns=cols_a_borrar, errors="ignore")

# 2) Poner ORIGIN como primera columna, para ver claramente qué aeropuerto estamos analizando, ya que lo ideal, más adelante sería hacer el mismo ejercicio con otros aeropuertos
cols = df_final.columns.tolist()

if "ORIGIN" in cols:
    cols.remove("ORIGIN")
    df_final = df_final[["ORIGIN"] + cols]

In [54]:
import importlib
import src.limpieza_aeropuerto as la

importlib.reload(la)

df_final = la.clean_flights_df(df_final)
df_final.dtypes

ORIGIN                             object
FL_DATE                    datetime64[us]
AIRLINE_CODE                       object
FL_NUMBER                           int64
DEST                               object
CRS_DEP_TIME               string[python]
AIRLINE                            object
DEST_CITY                          object
DEP_TIME                   string[python]
TAXI_OUT                            Int64
WHEELS_OFF                 string[python]
WHEELS_ON                  string[python]
TAXI_IN                             Int64
CRS_ARR_TIME               string[python]
ARR_TIME                   string[python]
CRS_ELAPSED_TIME                    Int64
ELAPSED_TIME                        Int64
AIR_TIME                            Int64
DISTANCE                          float64
DEP_DELAY                         float64
ARR_DELAY                         float64
CANCELLED                           int64
CANCELLATION_CODE                  object
DIVERTED                            int64
DELAY_DUE_CARRIER                 float64
DELAY_DUE_WEATHER                 float64
DELAY_DUE_NAS                     float64
DELAY_DUE_SECURITY                float64
DELAY_DUE_LATE_AIRCRAFT           float64
dtype: object

In [55]:
df_final.head()

,ORIGIN,FL_DATE,AIRLINE_CODE,FL_NUMBER,DEST,CRS_DEP_TIME,AIRLINE,DEST_CITY,DEP_TIME,TAXI_OUT,WHEELS_OFF,WHEELS_ON,TAXI_IN,CRS_ARR_TIME,ARR_TIME,CRS_ELAPSED_TIME,ELAPSED_TIME,AIR_TIME,DISTANCE,DEP_DELAY,ARR_DELAY,CANCELLED,CANCELLATION_CODE,DIVERTED,DELAY_DUE_CARRIER,DELAY_DUE_WEATHER,DELAY_DUE_NAS,DELAY_DUE_SECURITY,DELAY_DUE_LATE_AIRCRAFT
0,ATL,2021-06-11,DL,2820,BDL,18:50,Delta Air Lines Inc.,"Hartford, CT",19:59,14,20:13,22:08,4,21:12,22:12,142,133,115,859.0,69.0,60.0,0,NaN,0,60.0,0.0,0.0,0.0,0.0
1,ATL,2019-01-01,DL,345,DAB,09:39,Delta Air Lines Inc.,"Daytona Beach, FL",09:35,12,09:47,10:41,3,10:55,10:44,76,69,54,366.0,-4.0,-11.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2,ATL,2023-03-21,9E,4953,VLD,15:34,Endeavor Air Inc.,"Valdosta, GA",15:29,15,15:44,16:22,5,16:38,16:27,64,58,38,208.0,-5.0,-11.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3,ATL,2021-01-25,9E,4777,BHM,13:53,Endeavor Air Inc.,"Birmingham, AL",13:49,11,14:00,13:33,3,13:46,13:36,53,47,33,134.0,-4.0,-10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
4,ATL,2020-07-13,AA,2039,PHL,15:21,American Airlines Inc.,"Philadelphia, PA",15:19,13,15:32,17:13,4,17:34,17:17,133,118,101,666.0,-2.0,-17.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN

In [ ]:
import numpy as np
import pandas as pd

# 1) Tiempo: año / trimestre / mes / día semana
df_final["YEAR"] = df_final["FL_DATE"].dt.year
df_final["QUARTER"] = df_final["FL_DATE"].dt.quarter
df_final["MONTH"] = df_final["FL_DATE"].dt.month
df_final["WEEKDAY"] = df_final["FL_DATE"].dt.day_name()  # en inglés

# 2) Flags operativos (reglas)
df_final["IS_CANCELLED"] = df_final["CANCELLED"] == 1
df_final["IS_DIVERTED"] = df_final["DIVERTED"] == 1

# On-time arrival: ARR_DELAY <= 15 (solo si no está cancelado)
df_final["IS_ON_TIME_ARR"] = (df_final["ARR_DELAY"] <= 15) & (~df_final["IS_CANCELLED"])
df_final["IS_DELAYED_ARR"] = (df_final["ARR_DELAY"] > 15) & (~df_final["IS_CANCELLED"])

# 3) Buckets de retraso:
def delay_bucket(x):
    if pd.isna(x):
        return pd.NA
    if x < 0:
        return "Early (<0)"
    if x <= 15:
        return "0-15"
    if x <= 30:
        return "16-30"
    if x <= 60:
        return "31-60"
    return ">60"

df_final["DELAY_BUCKET"] = pd.NA
mask_not_cancelled = ~df_final["IS_CANCELLED"]
df_final.loc[mask_not_cancelled, "DELAY_BUCKET"] = df_final.loc[mask_not_cancelled, "ARR_DELAY"].apply(delay_bucket)

# 4) Schedule adherence: real - plan (min)
df_final["SCHED_DIFF_MIN"] = (df_final["ELAPSED_TIME"] - df_final["CRS_ELAPSED_TIME"]).astype("Int64")

# 5) Franja horaria (desde CRS_DEP_TIME "HH:MM")
df_final["CRS_DEP_HOUR"] = pd.to_numeric(df_final["CRS_DEP_TIME"].str[:2], errors="coerce")

def time_block(h):
    if pd.isna(h):
        return pd.NA
    h = int(h)
    if 6 <= h < 12:
        return "Mañana"
    if 12 <= h < 18:
        return "Mediodía"
    if 18 <= h < 24:
        return "Tarde"
    return "Noche"

df_final["TIME_BLOCK"] = df_final["CRS_DEP_HOUR"].apply(time_block).astype("string")

In [57]:
df_final.sample(7)

,ORIGIN,FL_DATE,AIRLINE_CODE,FL_NUMBER,DEST,CRS_DEP_TIME,AIRLINE,DEST_CITY,DEP_TIME,TAXI_OUT,WHEELS_OFF,WHEELS_ON,TAXI_IN,CRS_ARR_TIME,ARR_TIME,CRS_ELAPSED_TIME,ELAPSED_TIME,AIR_TIME,DISTANCE,DEP_DELAY,ARR_DELAY,CANCELLED,CANCELLATION_CODE,DIVERTED,DELAY_DUE_CARRIER,DELAY_DUE_WEATHER,DELAY_DUE_NAS,DELAY_DUE_SECURITY,DELAY_DUE_LATE_AIRCRAFT,YEAR,QUARTER,MONTH,WEEKDAY,IS_CANCELLED,IS_DIVERTED,IS_ON_TIME_ARR,IS_DELAYED_ARR,DELAY_BUCKET,SCHED_DIFF_MIN,CRS_DEP_HOUR,TIME_BLOCK
118403,ATL,2022-11-11,DL,2618,AVL,20:45,Delta Air Lines Inc.,"Asheville, NC",20:41,13,20:54,21:27,5,21:40,21:32,55,51,33,164.0,-4.0,-8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN,2022,4,11,Friday,False,False,True,False,Early (<0),-4,20,Tarde
126090,ATL,2020-01-29,DL,2277,LGA,09:30,Delta Air Lines Inc.,"New York, NY",09:26,11,09:37,11:15,9,11:39,11:24,129,118,98,762.0,-4.0,-15.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN,2020,1,1,Wednesday,False,False,True,False,Early (<0),-11,9,Mañana
90863,ATL,2021-06-11,YV,6067,IAD,14:00,Mesa Airlines Inc.,"Washington, DC",14:21,18,14:39,16:00,3,15:50,16:03,110,102,81,534.0,21.0,13.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN,2021,2,6,Friday,False,False,True,False,0-15,-8,14,Mediodía
19991,ATL,2020-10-17,9E,4712,TYS,20:54,Endeavor Air Inc.,"Knoxville, TN",20:49,8,20:57,21:24,3,21:45,21:27,51,38,27,152.0,-5.0,-18.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN,2020,4,10,Saturday,False,False,True,False,Early (<0),-13,20,Tarde
129106,ATL,2019-02-09,WN,1541,RSW,16:45,Southwest Airlines Co.,"Fort Myers, FL",16:46,13,16:59,18:14,4,18:30,18:18,105,92,75,515.0,1.0,-12.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN,2019,1,2,Saturday,False,False,True,False,Early (<0),-13,16,Mediodía
148656,ATL,2022-09-29,WN,1148,SRQ,21:40,Southwest Airlines Co.,"Sarasota/Bradenton, FL",<NA>,<NA>,<NA>,<NA>,<NA>,23:15,<NA>,95,<NA>,<NA>,444.0,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN,2022,3,9,Thursday,False,False,False,False,<NA>,<NA>,21,Tarde
146993,ATL,2019-07-16,DL,2452,RIC,09:52,Delta Air Lines Inc.,"Richmond, VA",09:49,17,10:06,11:16,4,11:29,11:20,97,91,70,481.0,-3.0,-9.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN,2019,3,7,Tuesday,False,False,True,False,Early (<0),-6,9,Mañana